input{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50px;
    border: 3px solid violet;
    width: 300px;
}

.in {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 120px ;
}

button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(102, 41, 162);
    border: 1px solid violet;
    color: black;
    padding: 5px;
    width: 200px;
}

.add {
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: rgb(102, 41, 162);
    border: 1px solid violet;
    height: 400px;
    gap: 30px;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
    
}
.flashcard {
   height: 150px;
   width: 250px;
   cursor: pointer;
}
.card-content {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
}
.flashcard.flipped .card-content {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}
.back {
    transform: rotateY(180deg);
    background-color: yellow;
    border-radius: 50px;
    color: black;
}

.front {
    background-color: rgb(173, 255, 10);
    border-radius: 50px;
    color: black;
}

.input {
    display: flex;
    justify-content: center;
    color: black;
}
select {
    background-color: rgb(102, 41, 162);
    border: 1px solid violet;
    width: 200px;
    border-radius: 50px;
    height: 40px;
    padding: 0px 10px;
    margin: 50px;
}
