.klk{
    width: 350px;
    box-shadow: 7px 7px rgba(128, 128, 128, 0.262);
}
.jj {
    cursor: pointer;
    font-weight: bold;
    color: purple;
}

.uu {
    padding: 70px;
}

.cc {
  width: 100px;
  margin-left: 30%;
  padding: 5px;
}
.jj:hover,
.cc:hover {
    color: purple;
    background-color: white;
   box-shadow: 0px 5px rgba(0, 0, 0, 0.407);
}

